<template>
  <div class='container-fluid'>
    <div class='row'>
      
      <!-- Online users -->
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <h3 class='lead'  v-text="$ml.with(users_list.length).get('online_users')" />
          <ul class="nav flex-column">
            <li v-for="user in users_list" class="nav-item">
              <a class="nav-link active" href="#">
                {{user.email}}
              </a>
            </li>
        
          </ul>
        </div>
      </nav>
    
      <!-- 4 players lobbies list -->
      <div class="col-md-5 mt-2">
        <h3 class='lead' v-text="$ml.get('lobby_for_4')"/>
        <div class="table-responsive">
          <table class="table table-solid table-considered table-bordered table-hover table-sm" >
            <thead>
              <th v-text="$ml.get('owner')"/>
              <th v-text="$ml.get('status')"/>
              <th v-text="$ml.get('started_at')"/>
              <th v-text="$ml.get('finished_at')"/>
              <th v-text="$ml.get('players')"/>
              <th></th>
            </thead>

            <tbody>
              <tr v-for="lobby in lobbies_list" v-if="lobby.players_count == 4">
                <td>{{lobby.user.email}}</td>
                <td>{{$ml.get(lobby.status)}}</td>
                <td>{{lobby.started_at}}</td>
                <td>{{lobby.finished_at}}</td>
                <td>{{lobby.players_count}} / {{lobby.in_game_players_count}}</td>
                <td>
                  <button 
                     v-if = "lobby.joined == false && lobby.leaved != true && lobby.status == 'finished'" 
                    type="button" 
                    class="btn btn-sm btn-outline-secondary" 
                    @click="join_lobby(lobby)">{{$ml.get('join_lobby')}}
                  </button>
                  
                  <button 
                    v-if = "lobby.joined == true && lobby.owner == false" 
                    type="button" 
                    class="btn btn-sm btn-outline-secondary" 
                    @click="leave_lobby(lobby)">{{$ml.get('leave_lobby')}}
                  </button>
                  <span v-if="lobby.leaved">{{$ml.get('you_leaved_lobby')}}</span>
                  
                  <span v-if="lobby.leaved">{{$ml.get('you_leaved_lobby')}}</span>

                  <router-link 
                    type="button"
                    class="btn btn-sm btn-outline-secondary" 
                    v-if = "lobby.joined == true"  
                    :to="{ name: 'lobby_show', params: {id: lobby.id}}">{{$ml.get('lobby_show')}}
                  </router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 2 players lobbies -->
      <div class="col-md-5 mt-2 ">
        <h3 class='lead' v-text="$ml.get('lobby_for_2')"/>
        <div class="table-responsive">
          <table class="table table-solid table-considered table-bordered table-hover table-sm">
            <thead>
              <th v-text="$ml.get('owner')"/>
              <th v-text="$ml.get('status')"/>
              <th v-text="$ml.get('started_at')"/>
              <th v-text="$ml.get('finished_at')"/>
              <th v-text="$ml.get('players')"/>
              <th></th>
            </thead>

            <tbody>
              <tr v-for="lobby in lobbies_list" v-if="lobby.players_count == 2">
                <td>{{lobby.user.email}}</td>
                <td>{{$ml.get(lobby.status)}}</td>
                <td>{{lobby.started_at}}</td>
                <td>{{lobby.finished_at}}</td>
                <td>{{lobby.players_count}} / {{lobby.in_game_players_count}}</td>
                <td>

                  <button 
                    v-if = "lobby.joined == false && lobby.leaved != true && lobby.status == 'finished'" 
                    type="button" 
                    class="btn btn-sm btn-outline-secondary" 
                    @click="join_lobby(lobby)">{{$ml.get('join_lobby')}}
                  </button>
                  
                  <button 
                    v-if = "lobby.joined == true && lobby.owner == false" 
                    type="button" 
                    class="btn btn-sm btn-outline-secondary" 
                    @click="leave_lobby(lobby)">{{$ml.get('leave_lobby')}}
                  </button>

                  <span v-if="lobby.leaved">{{$ml.get('you_leaved_lobby')}}</span>
                  <router-link 
                    v-if = "lobby.joined == true"  
                    class="btn btn-sm btn-outline-secondary" 
                    :to="{ name: 'lobby_show', params: {id: lobby.id}}">{{$ml.get('lobby_show')}}
                  </router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { MLBuilder } from 'vue-multilanguage';
import { HTTP } from '../../backend';

export default {
  data: function () {
    return { }
  },
  channels: {
    LobbyChannel: {
      received(data) {
        this.$store.dispatch('ws_received', data);
      }
    }
  },
  methods: {
    leave_lobby: function(lobby){
      // TODO: обработай ответы
      HTTP.post(`lobbies/${lobby.id}/leave`, {id: lobby.id}).then(response => {        
        console.log(response);
      })
      .catch(e => {
        this.error=e;
      })

    },
    join_lobby: function(lobby){ 
      HTTP.post('lobby_users', {lobby_id: lobby.id}).then(response => {
        if(response.data.success){
          this.$router.push({ name: 'lobby_show', params: { id: response.data.lobby_id } })
        }
        
        console.log(response);
      })
      .catch(e => {
        this.error=e;
      })



    },
    fetch: function() {
      this.$cable.perform({
        channel: 'LobbyChannel',
        action: 'index'
      });
    }
  },
  computed: {
    lobbies_list: function() {
      return this.$store.getters.get_lobbies;
    },
    users_list: function () {
      return this.$store.getters.get_users;
    }
  },
  mounted() {
    this.$store.dispatch('set_user_id', document.querySelector('meta[name="user-context"]').id);
    this.$store.dispatch('fetch_lobbies');
    this.$cable.subscribe({channel: 'LobbyChannel'});
  }
}
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>
