<template>
  <div class='containerx'>
    <div class='row p-5'>
      <form @submit="check_form()">
        <p v-if="errors.length">
        <b>Пожалуйста исправьте указанные ошибки:</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
        </p>

        <div class="form-group">
          <label>{{$ml.get('lobby_name')}}</label>
          <input class="form-control" v-model="lobby.name">
        </div>

        <div class="form-group">
          <label>{{$ml.get('lobby_players_count')}}</label>
          <select class="form-control" v-model="lobby.players_count">
            <option value=4>4</option>
            <option value=2>2</option>
          </select>
        </div>

        <button @click.prevent="create_lobby()" class="btn btn-primary">{{$ml.get('create')}}</button>
        
      </form>
    </div>
  </div>
</template>


<script>
import {HTTP} from '../../backend';

export default {
  data: function () {
    return {
      lobby: {
        players_count: 2,
      },
      errors: []
    }
  },
  methods: {
    checkForm: function (e) {
      this.errors = [];

      if (!this.lobby.name) {
        this.errors.push($ml.get('errors_invalid_lobby_name'));
      }
      if (!this.lobby.players_count) {
        this.errors.push($ml.get('errors_invalid_lobby_players_count'));
      }

      if (!this.errors.length) {
        return true;
      }

      e.preventDefault();
    },
    create_lobby: function(){
      console.log(this.lobby);
      HTTP.post('lobbies', this.lobby).then(response => {
        if(response.data.valid==true){
          this.$router.push({ name: 'lobby_show', params: { id: response.data.id } })
        } else {
          this.errors = response.data.errors
        }
        console.log(response);
      })
      .catch(e => {
        this.error=e;
      })
    }
  }
}
</script>