<template>
  <div class='container p-5'>

    <div class='row'>
      <form class='form form-horizontal'>

        <div class="btn-group btn-group-lg">
          <button 
            type="button"
            class="btn btn-default" 

            v-if="lobby.owner && lobby.status == 'performed' && lobby.in_game_players_count == lobby.players_count"
            v-text="$ml.get('start_game')"

            @click="start_game()" 
          />

          <button 
            type="button"
            class="btn btn-default" 

            v-if="lobby.status == 'performed' && lobby.in_game_players_count != lobby.players_count" 
            v-text="$ml.get('performed')"
          />

          <button
            type = "button"
            class = "btn btn-default"

            v-if="!lobby.owner"
            v-text="$ml.get('leave_lobby')"

            @click="leave_lobby()"
          />  
        </div>

      </form>
      

    </div>

    <div class='row'>
    </div>

    <div class='row'>
      <div class='col'>
        <div class="table-responsive">
          <table class="table table-solid table-considered table-bordered table-hover table-sm" >
            <thead>
              <th v-text="$ml.get('email')"/>
              <th v-text="$ml.get('status')"/>
            </thead>
            <tbody>
              <tr v-for="lobby_user in lobby.lobby_users">
                <td>{{lobby_user.user.email}}</td>
                <td>{{lobby_user.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>

    <div class='row'>
      <pre>
        {{ lobby }}
      </pre>
    </div>


  </div>
  
</template>


<script>
import {HTTP} from '../../backend';

export default {
  data: function () {
    return {
      lobby: {},
      lobby_id: null
    }
  },
  channels: {
    LobbyChannel: {
      connected() {
        console.log('LobbyChannel'+this.lobby.id+' connected');
      },
      rejected() {},
      received(data) {
        console.log('received');
        console.log(data);

        if(data.data_type == 'lobby_started' || data.data_type == 'lobby_finished'){
          this.lobby = data.data;
        }

        // if(data.data_type == 'lobbies'){
        //   data.data.forEach(function(lobby, i){
        //     if(lobby.id == this.lobby.id){
        //       this.lobby = response.data;

        //       if(this.lobby.user.id == this.$store.getters.get_user_id){
        //         this.lobby.owner = true;
        //       }

        //     }
        //   });          
        // }


      },
      disconnected() {}
    }
  },

  methods: {  
    leave_lobby: function() {
      // TODO: обработай ответы
      HTTP.post(`lobbies/${this.lobby.id}/leave`, {id: this.lobby.id}).then(response => {
        if(response.data.success){
          this.$router.push({ name: 'root_path' })
        }
        console.log(response);
      })
      .catch(e => {
        this.error=e;
      })
    },

    start_game: function(){
      HTTP.post(`lobbies/${this.lobby.id}/start`, {id: this.lobby.id}).then(response => {
        console.log(response);
      });
    }
  },
  created() {
    this.$cable.subscribe({channel: 'LobbyChannel'});
    this.lobby_id = this.$route.params.id;
  },
  mounted() {
    console.log('show');
    
    let current_user_id = this.$store.getters.get_user_id;
    
    HTTP.get(`lobbies/${this.$route.params.id}`).then(response => {
      this.lobby = response.data;

      if(this.lobby.user.id == current_user_id){
        this.lobby.owner = true;
      }
      
    });

    
  }
}
</script>