 <template>
  <div>
    
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4  bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Test Game</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <router-link :to="{ name: 'new_lobby_path'}">{{$ml.get('create_new_lobby')}}</router-link>
        <router-link :to="{ name: 'root_path'}">{{$ml.get('lobby_list')}}</router-link>
      </nav>
      <a class="btn btn-outline-primary" href="/users/sign_out">Sign out</a>
      <form class="form-inline mt-2 ml-3 mt-md-0">
        <select class="form-control" @change="change_lang()" v-model="current_lang">
          <option value='russian'>Ru</option>
          <option value='english'>En</option>
        </select>
      </form>
      
    </div>
    
    <router-view></router-view>
  </div>
     
</template>

<script>
  import { MLBuilder } from 'vue-multilanguage';
  const token = document.querySelector('[name="csrf-token"]') || {content: 'no-csrf-token'}

  export default {
    data: function () {
      return {
        current_lang: 'english'
      }
    },
    methods: {
      change_lang: function() {
        this.$ml.change(this.current_lang);
      }
    },
    mounted() {
    }
  }
</script>

<style scoped>

</style>

