<!DOCTYPE html>
<html>
  <head>
    <title>TestGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body class="text-center">
    <%= yield %>
  </body>
</html>
